* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game {
    background: white;
    width: 350px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    margin-bottom: 25px;
}

.dice {
    font-size: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button:hover{
    box-shadow: #000 2px 2px 2px ;
}